
.employee td, #employee th {
    padding: 8px;
  }
  
.employee:nth-child(even){background-color: #d9d5ff;}
  
  
  
.employee:hover{
    background-color: #c5c5c5;
}

.panel-button{
  width: 100%;
  margin-top: 20px;
  height: 40px;
  margin-bottom: 20px;
  background-color: royalblue;
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.8s;
}

.panel-button:hover{
  background-color: #10008f;
  transition: 0.8s;
  font-size: 20px;
}