.box{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    margin-right: 60rem;
    margin-left: 10rem;
    margin-top: 2rem;
    padding-right: 5rem;
}
.head{
    padding-left: 1900px;
    background: grey;
    padding-top: 200px;
}
.menu{
    background-image: linear-gradient(210deg, grey 85%, royalblue 60%);
    padding: 1rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.filter{
    background-image: linear-gradient(140deg, grey 85%, royalblue 60%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.paper{
    margin-top: 50px;
}
.drop{
    margin-top: 10px;
}
.totaal{
    background: #FFFFFF;
    padding: 2rem 1rem;
    padding-right: 5rem;
    border-bottom-left-radius: 1rem;
    border-style:   solid;
    margin-bottom: 100ch;
}
.topline{
    padding-top: 50px;
    background-color:teal ;

}
.card{
    width: 600px;
}
.ADD{
    margin-left: 600px;
    width: 90px;
}
.space{
    margin-top: 10px;
}
.order-button{
    width: 140px;
    height: 60px;
    font-size: larger;

}