/* Lettertype */
.font{
font-family: 'Libre Baskerville', serif;
}


.header{
    height: 450px;
    width: 100%;
    /* background-image: ; */
    /* dummy background */
    background-color: grey;
}

.navbar{
    height: 150px;
    background-color: #FFFFFF;
    color: #3f3f3f;
}

.logo{
    height: 136px;
}

.navbar-text-center{
    text-align: center;
    padding-top: 50px;
}

.padding-fix{
    padding: 0px;
}